*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
    display: flex; 
    justify-content: center; 
    align-items: center; 
    min-height: 50vh; 
    margin: 0; 
    background-image: url(../assets/back.jpeg);


}

.card{
    width: 90%;
    max-width: 546px;
    margin: 100px auto 0;
    padding: 40px;
    text-align: center;
    border-radius: 51px;
    background: #112236;
    color: #fff;
    margin-top: 44px;
}

.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input{
    border: none;
    outline: 0;
    border-radius: 30px;
    width: 335px;
    height: 63px;
    padding: 10px 25px;
    color: #555;
    flex: 1;
    margin-right: 16px;
    font-size: 15px;
}

.search button{
    border: none;
    background: #ebfffc;
    border-radius: 50%;
    width: 57px;
    height: 56px;
    cursor: pointer;
}

.search button img{
    width: 26px;
}

.weather-icon{
    width: 200px;
    padding-top: 20px;
    margin-bottom: 16px;
}

  .weather h1{
    font-size: 80px;
    font-weight: 500;
  }
  .weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
  }

.city{
    margin-top: 18px;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
}

.col img{
    width: 107px;
    margin-right: 10px;
}

.humidity, .wind{
    font-size: 28px;
}

.weather{
    display: none;
}

.error{
    margin-top: 18px;
    /* margin-left: 10px; */
    font-size: 17px;
    display: none;
}